<div class="show">

  <h2 class="lrg-head"><%= @venue.name %></h2>
  <br>
  <br>
  <p class="sml-head">Upcomimg Gigs</p>
  <table>
    <tr>
      <th>WHO</th>
      <th>DATE</th>
      <th>TIME</th>
    </tr>
    <% for gig in @gigs %>
    <tr class="<%='gig-past' if gig.is_past %> ">
      <td><a href="/bands/<%= gig.band.id %>"><%= gig.band.name %></a></td>
      <td><%= gig.date %></td>
      <td><%= gig.time %></td>
    </tr>
    <%end%>
  </table>



  <a class="btn" href="/venues/<%=@venue.id%>/edit">Edit or Delete Venue</a>

</div>
