<h2 class="lrg-head">All Gigs</h2>

<br>
<br>

<table>
  <tr>
    <th>BAND</th>
    <th>VENUE</th>
    <th>DATE</th>
    <th>TIME</th>
  </tr>
  <% for gig in @gigs %>
  <tr class="<%='gig-past' if gig.is_past %> ">
    <td><a href="/bands/<%= gig.band.id %>"><%= gig.band.name %></a></td>
    <td><a href="/venues/<%= gig.venue.id %>"><%= gig.venue.name %></a></td>
    <td><%= gig.date %></td>
    <td><%= gig.time %></td>
  </tr>
  <% end %>
</table>
